body {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8vh;
    background-color: rgb(68, 66, 66);
}

.mem__slider {
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 50rem;
}

.wrapper {
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper__img {
    display: flex;
    transition: all 1s ease-out;
}

.wrapper__img img {
    min-width: 100%;
    border-radius: 1vh;
    height: 40rem;
}

.captions__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mem__slider label {
    padding: 0.3rem;
    cursor: pointer;
}

.controls {
    display: flex;
    padding: 3vh 0;
}

.slider {
    overflow: hidden;
    width: 30vw;
}

.captions {
    display: flex;
    transition: all 1s ease-out;
}

.caption__img {
    display: flex;
    width: 100%;
    min-width: 100%;
    color: #dfdfdf;
}

.controls label span {
    background: cornflowerblue;
    border: 0.2rem solid cornflowerblue;
    border-radius: 50%;
    text-align: center;

    display: inline-block;
    width: 1rem;
    height: 1rem;
    z-index: 2;
    cursor: pointer;
}

.mem__slider label:hover span{
    border-color: #dfdfdf;
    background-color:  #dfdfdf;
}

.mem__slider label:active span{
    border-color: #867676;
    background-color:  #867676;
}

.mem__slider #control_1:checked ~ .captions__controls .controls label:nth-of-type(1) span,
.mem__slider #control_2:checked ~ .captions__controls .controls label:nth-of-type(2) span,
.mem__slider #control_3:checked ~ .captions__controls .controls label:nth-of-type(3) span,
.mem__slider #control_4:checked ~ .captions__controls .controls label:nth-of-type(4) span {
    border-color: cornflowerblue;
    background: rgb(68, 66, 66);
}

.mem__slider #control_1:checked:hover ~ .captions__controls .controls label:nth-of-type(1) span,
.mem__slider #control_2:checked:hover ~ .captions__controls .controls label:nth-of-type(2) span,
.mem__slider #control_3:checked:hover ~ .captions__controls .controls label:nth-of-type(3) span,
.mem__slider #control_4:checked:hover ~ .captions__controls .controls label:nth-of-type(4) span {
    border-color: #dfdfdf;
}

.mem__slider #control_1:checked ~ .wrapper .wrapper__img,
.mem__slider #control_1:checked ~ .captions__controls .slider .captions {
    transform: translateX(0);
}

.mem__slider #control_2:checked ~ .wrapper .wrapper__img,
.mem__slider #control_2:checked ~ .captions__controls .slider .captions {
    transform: translateX(-100%);
}

.mem__slider #control_3:checked ~ .wrapper .wrapper__img,
.mem__slider #control_3:checked ~ .captions__controls .slider .captions {
    transform: translateX(-200%);
}

.mem__slider #control_4:checked ~ .wrapper .wrapper__img,
.mem__slider #control_4:checked ~ .captions__controls .slider .captions {
    transform: translateX(-300%);
}

.mem__slider input {
    display: none;
}

@media (max-width: 640px) {
    main {
        padding: 2vh 2vw;
    }

    .captions__controls {
        flex-direction: column-reverse;
    }

    .slider {
        align-self: start;
    }

    .wrapper__img img {
        height: 40rem;
        height: auto;
    }
}
